annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
arcosparse==0.5.1
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
attrs==26.1.0
boto3==1.43.103
botocore==1.43.103
cdsapi==0.7.7
certifi==2026.7.22
cffi==2.1.1
cftime==1.6.5
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
copernicusmarine==2.4.1
dask==2026.8.0
donfig==0.8.1.post1
ecmwf-datastores-client==0.5.3
fastapi==0.141.1
fsspec==2026.9.0
google-crc32c==1.9.0
h11==0.16.0
h5netcdf==1.8.1
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
iniconfig==2.3.0
jmespath==1.1.0
locket==1.0.0
msgspec==0.21.1
multiurl==0.3.9
netCDF4==1.7.4
numcodecs==0.17.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
partd==1.4.2
# Editable install
-e .
pluggy==1.6.0
psycopg==3.3.6
psycopg-binary==3.3.6
pyarrow==25.0.1
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyproj==3.8.0
pystac==1.15.2
pystac-core==1.15.2
pystac-ext-classification==2.0.1
pystac-ext-datacube==2.2.1
pystac-ext-eo==1.1.1
pystac-ext-file==2.1.1
pystac-ext-grid==1.1.1
pystac-ext-item-assets==1.0.1
pystac-ext-label==1.0.2
pystac-ext-mgrs==1.0.1
pystac-ext-mlm==1.4.1
pystac-ext-pointcloud==1.0.1
pystac-ext-projection==2.0.1
pystac-ext-raster==1.1.1
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.1
pystac-ext-sat==1.0.1
pystac-ext-scientific==1.0.1
pystac-ext-storage==2.0.1
pystac-ext-table==1.2.1
pystac-ext-timestamps==1.1.1
pystac-ext-version==1.2.1
pystac-ext-view==1.0.1
pystac-ext-xarray-assets==1.0.1
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.4
PyYAML==6.0.3
requests==2.34.2
ruff==0.16.9
s3transfer==0.19.2
semver==3.1.0
shapely==2.1.2
six==1.17.0
starlette==1.7.0
toolz==1.1.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.54.0
xarray==2026.7.0
zarr==3.4.0
